#  Python Variables and Naming

What is a variable? Essentially anything you want it to be! Formally, it is a container for storing data values.

In Python, variables are not created through command declaration, they are created a value is first assigned to it.

In [1]:
# Let's take a player, points, and assists on a given night and assignt them to variables
player = "Lebron James"
points = 36
assists = 12
print(player)
print(points)
print(assists)

Lebron James
36
12

Part of what makes Python unique is that variables do not need to be declared as a certain type before being created. And they can even be changed after they are created.

## Casting

You can specify the data type of a variable upon creation. Print each of these separately to view results.

In [2]:
points = str(36) # points will be '36'
points = int(36) # points will be 36
points = float(36) # points will be 36.0

## Extract the data type

Not sure which type of data a variable is? No problem, use type()

In [3]:
player = "Lebron James"
points = 36
assists = 12
print(type(player))
print(type(points))
print(type(assists))

<class 'str'>
<class 'int'>
<class 'int'>

Note: Strings can be declared with single or double quotes

In [4]:
player = "Lebron James"
#is the same as
player = 'Lebron James'

## Case Sensitivity

When creating variables, Points and points are different and will not overwrite each other!

In [5]:
Points = 32
points = 28
print(Points)
print(points)

32
28

## Assign more than 1 variable at once

We know three players from tonight's game that we want to store. Do we really want to define these in 3 separate lines... NO!

In [6]:
player1, player2, player3 = "Russell Westbrook", "Anthony Davis", "Lebron James"
print(player1)
print(player2)
print(player3)

Russell Westbrook
Anthony Davis
Lebron James

You can also assign one value to multiple variables. Say 5 players scored the same amount of points, why define it 5 times?

In [8]:
lebron_points = lillard_points = kawhi_points = zion_points = lamelo_points = 36
print(lebron_points)
print(lillard_points)
print(kawhi_points)
print(zion_points)
print(lamelo_points)

36
36
36
36
36

## Unpack From a list, tuple, etc

You will become with different data types such as lists and tuples in the coming tutorials. For now, the important thing to note here is that you can extract values from a group of values and this is called "unpacking".

In [12]:
#Unpack a list
points_scored = [22,24,28,38,24,46]
game1, game2, game3, game4, game5, game6 = points_scored
print(game1)
print(game2)
print(game3)
print(game4)
print(game5)
print(game6)

22
24
28
38
24
46

## What Else can be done with the print function?

We have seen the basic function of the print() function. Now, let's expand a bit of its capabilities

In [15]:
player = "Stephen Curry"
team = "Golden State"
position = "Point Guard"
print(player,team,position)

Stephen Curry Golden State Point Guard

A slight modification with "+"'s being used. (Notice the trailing spaces after each string so that the string elements aren't smashed together) Try without them!

In [ ]:
player = "Stephen Curry "
team = "Golden State "
position = "Point Guard"
print(player+team+position)

Now because Pyhton can assume data types, you can run this same type of print statement with numbers and let's see what happens!

In [19]:
points_game_1 = 30
points_game_2 = 34
print(points_game_1+points_game_2)

64

Note: You cannot add an integer and a string the same was as above (Shown below)

In [20]:
player = "Stephen Curry"
points = 38
print(player + points)

TypeError: can only concatenate str (not "int") to str

You now have an introduction to some data types in Python and some relevant use cases in the sports world!